name: Python application test with Github Actions
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.10.5
    - uses: cryptic-wizard/run-behave-tests@v0.3.0
      with:
        test-path: ..\github_ui_test
        test-output-name: results.txt
